.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-container {
  height: 100vh;
}

p {
  margin: 10px;
  font-size: 30px;
  text-align: center;
}

.update-container {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-button {
    margin: 10px 0px 10px 0px;
}

.subtext {
    font-size: 15px;
}
